<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of RRxIO - Robust Radar Visual/Thermal Odometry
@author Christopher Doer <christopher.doer@kit.edu> -->
<launch>
    <arg name="id" default=""/>

    <arg name="rosbag_dir"/>
    <arg name="rosbag"/>
    <arg name="ground_truth_csv"/>
    <arg name="ground_truth_type"/>

    <arg name="export_directory"/>
    <arg name="N"/>
    <arg name="enable_rviz"/>
    <arg name="shutdown_when_done"/>
    <arg name="bag_start"/>
    <arg name="bag_duration" default="10000"/>

    <arg name="config"/>
    <arg name="camera_config"/>
    <arg name="timeshift_cam_imu"/>

    <arg name="radar_calib" default="$(arg rosbag_dir)/radar_calib.yaml"/>

    <arg name="topic_imu" default="/sensor_platform/imu"/>
    <arg name="topic_cam"/>
    <arg name="topic_radar_trigger"/>
    <arg name="topic_radar_scan"/>
    <arg name="dvc_diag_enabled" default="False"/>
    <arg name="dvc_diag_output_dir" default=""/>
    <arg name="dvc_run_id" default=""/>
    <arg name="dvc_cov_mode" default="base"/>
    <arg name="dvc_fixed_scale" default="2.0"/>
    <arg name="dvc_alpha_r_w_cond" default="0.7"/>
    <arg name="dvc_alpha_r_w_inlier" default="1.0"/>
    <arg name="dvc_alpha_r_w_sparse" default="0.6"/>
    <arg name="dvc_alpha_r_n_targets_ref" default="40"/>
    <arg name="dvc_alpha_r_k_alpha" default="1.5"/>
    <arg name="dvc_alpha_r_alpha_r_max" default="5.0"/>
    <arg name="dvc_alpha_r_sigma_min2" default="0.0001"/>
    <arg name="dvc_scheduler_mode" default="legacy"/>
    <arg name="dvc_scheduler_max_events" default="2048"/>
    <arg name="dvc_scheduler_watermark_margin_s" default="0.002"/>
    <arg name="dvc_scheduler_watermark_max_wait_s" default="0.200"/>
    <arg name="dvc_scheduler_radar_imu_window_s" default="0.020"/>
    <arg name="dvc_scheduler_enable_diag" default="False"/>
    <arg name="dvc_scheduler_diag_output_dir" default=""/>
    <arg name="dvc_scheduler_backpressure_depth" default="-1"/>
    <arg name="dvc_scheduler_backpressure_high" default="-1"/>
    <arg name="dvc_scheduler_backpressure_low" default="-1"/>
    <arg name="dvc_scheduler_backpressure_timeout_s" default="5.0"/>
    <arg name="dvc_scheduler_drain_timeout_s" default="120.0"/>
    <arg name="dvc_scheduler_imu_fast_path" default="True"/>
    <arg name="dvc_perf_mode" default="normal"/>
    <arg name="dvc_perf_pub_decimation" default="2"/>
    <arg name="dvc_perf_tf_decimation" default="2"/>
    <arg name="dvc_perf_diag_flush_every_n" default="32"/>

    <node pkg="rrxio" type="rrxio_rosbag_loader_$(arg N)" name="rovio$(arg id)" output="screen" clear_params="True" launch-prefix="bash -c 'sleep 2; $0 $@' ">
        <param name="filter_config" value="$(arg config)"/>
        <param name="camera0_config" value="$(arg camera_config)"/>
        <param name="rosbag_filename" value="$(arg rosbag_dir)/$(arg rosbag).bag"/>
        <param name="imu_topic_name" value="$(arg topic_imu)"/>
        <param name="cam0_topic_name" value="$(arg topic_cam)"/>
        <param name="topic_vel" type="str" value="not_used"/>
        <param name="bag_start" value="$(arg bag_start)"/>
        <param name="bag_duration" value="$(arg bag_duration)"/>
        <param name="timeshift_cam_imu" value="$(arg timeshift_cam_imu)"/>

        <param name="topic_radar_trigger" value="$(arg topic_radar_trigger)"/>
        <param name="topic_radar_scan" value="$(arg topic_radar_scan)"/>
        <param name="dvc_diag_enabled" type="bool" value="$(arg dvc_diag_enabled)"/>
        <param name="dvc_diag_output_dir" type="str" value="$(arg dvc_diag_output_dir)"/>
        <param name="dvc_run_id" type="str" value="$(arg dvc_run_id)"/>
        <param name="dvc_rrxio/cov_mode" type="str" value="$(arg dvc_cov_mode)"/>
        <param name="dvc_rrxio/fixed_scale" value="$(arg dvc_fixed_scale)"/>
        <param name="dvc_rrxio/alpha_r/w_cond" value="$(arg dvc_alpha_r_w_cond)"/>
        <param name="dvc_rrxio/alpha_r/w_inlier" value="$(arg dvc_alpha_r_w_inlier)"/>
        <param name="dvc_rrxio/alpha_r/w_sparse" value="$(arg dvc_alpha_r_w_sparse)"/>
        <param name="dvc_rrxio/alpha_r/n_targets_ref" value="$(arg dvc_alpha_r_n_targets_ref)"/>
        <param name="dvc_rrxio/alpha_r/k_alpha" value="$(arg dvc_alpha_r_k_alpha)"/>
        <param name="dvc_rrxio/alpha_r/alpha_r_max" value="$(arg dvc_alpha_r_alpha_r_max)"/>
        <param name="dvc_rrxio/alpha_r/sigma_min2" value="$(arg dvc_alpha_r_sigma_min2)"/>
        <param name="dvc_rrxio/scheduler/mode" type="str" value="$(arg dvc_scheduler_mode)"/>
        <param name="dvc_rrxio/scheduler/max_events" value="$(arg dvc_scheduler_max_events)"/>
        <param name="dvc_rrxio/scheduler/watermark_margin_s" value="$(arg dvc_scheduler_watermark_margin_s)"/>
        <param name="dvc_rrxio/scheduler/watermark_max_wait_s" value="$(arg dvc_scheduler_watermark_max_wait_s)"/>
        <param name="dvc_rrxio/scheduler/radar_imu_window_s" value="$(arg dvc_scheduler_radar_imu_window_s)"/>
        <param name="dvc_rrxio/scheduler/enable_diag" type="bool" value="$(arg dvc_scheduler_enable_diag)"/>
        <param name="dvc_rrxio/scheduler/diag_output_dir" type="str" value="$(arg dvc_scheduler_diag_output_dir)"/>
        <param name="dvc_rrxio/scheduler/imu_fast_path" type="bool" value="$(arg dvc_scheduler_imu_fast_path)"/>
        <param name="dvc_rrxio/scheduler/backpressure_high" value="$(arg dvc_scheduler_backpressure_high)"/>
        <param name="dvc_rrxio/scheduler/backpressure_low" value="$(arg dvc_scheduler_backpressure_low)"/>
        <param name="dvc_rrxio/perf_mode" type="str" value="$(arg dvc_perf_mode)"/>
        <param name="dvc_rrxio/perf/pub_decimation" value="$(arg dvc_perf_pub_decimation)"/>
        <param name="dvc_rrxio/perf/tf_decimation" value="$(arg dvc_perf_tf_decimation)"/>
        <param name="dvc_rrxio/perf/diag_flush_every_n" value="$(arg dvc_perf_diag_flush_every_n)"/>
        <param name="scheduler_backpressure_depth" value="$(arg dvc_scheduler_backpressure_depth)"/>
        <param name="scheduler_backpressure_high" value="$(arg dvc_scheduler_backpressure_high)"/>
        <param name="scheduler_backpressure_low" value="$(arg dvc_scheduler_backpressure_low)"/>
        <param name="scheduler_backpressure_timeout_s" value="$(arg dvc_scheduler_backpressure_timeout_s)"/>
        <param name="scheduler_drain_timeout_s" value="$(arg dvc_scheduler_drain_timeout_s)"/>

        <rosparam file="$(find rrxio)/launch/configs/default_params_radar_ego_velocity_estimation.yaml" command="load"/>
        <rosparam file="$(arg radar_calib)" command="load"/>

        <param name="world_frame" value="odom"/>
        <param name="imu_frame" value="base_link"/>
        <param name="camera_frame" value="camera"/>
    </node>

    <node pkg="rrxio" type="evaluate_ground_truth.py" name="evaluate_ground_truth$(arg id)" output="screen" clear_params="true"
          required="$(arg shutdown_when_done)">
        <param name="rosbag_name" type="str" value="$(arg rosbag)"/>
        <param name="rosbag_dir" type="str" value="$(arg rosbag_dir)"/>
        <param name="ground_truth_type" type="str" value="$(arg ground_truth_type)"/>
        <param name="ground_truth_csv" type="str" value="$(arg ground_truth_csv)"/>
        <param name="pose_topic" type="str" value="pose_topic_not_used"/>
        <param name="odom_topic" type="str" value="/rovio$(arg id)/rovio/odometry"/>
        <param name="export_directory" type="str" value="$(arg export_directory)"/>
    </node>
</launch>
